<!DOCTYPE html>
<html>
<head>
    {% block head %}
    {% block meta %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A webpage to display my personal projects and homework.">
    {% endblock %}
    <title>{% block title %}{% endblock %} | Matt's Projects</title>
    {% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pure.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grids-responsive.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}" />
    {% endblock %}
    {% block style %}{% endblock %}
    {% endblock %}
</head>
<body>
    {% block body %}
    <header id="sticker">
        <nav class="home-menu pure-menu pure-menu-open pure-menu-horizontal">
            {% block nav %}
            {% set nav_menu = [
            ('/', 'home', 'Home'),
            ('/homework', 'homework', 'Homework'),
            ('#', 'projects', 'Projects')
            ] -%}
            {% set active_page = active_page|default('home') -%}
            <a class="pure-menu-heading" href="#">
                Matt's {% block navHeading %}Projects{% endblock %} <i class="fa fa-ellipsis-v"></i>
            </a>
            <ul class="">
                {% for href, id, caption in nav_menu %}
                <li{% if id == active_page %} class="pure-menu-selected"{% endif %}>
                <a href="{{ href|e }}">{{ caption|e }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endblock %}
        </nav>
</header>
<main>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
</main>
<footer>
    {% block footer %}
    {% endblock %}
</footer>
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script>
    $(window).load(function(){
        $("#sticker").sticky({topSpacing:0});
    });
</script>
{% endblock %}
{% endblock %}
</body>
</html>
